# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
# Ignore large data files
*.pickle
*.h5
*.mp4
*.avi
*.zip
*.tar.gz
*.tar.bz2
*.tar.xz
#CV Virtual Environment
# pip install tensorflow opencv-python ultralytics matplotlib scikit-learn is ignored
ComputerVisionResearch/version1/venv/
# pip install ultralytics opencv-python numpy pyyaml
ComputerVisionResearch/version2/venv/

ComputerVisionResearch/version2/final_augmented_dataset/