<?xml version="1.0"?>
<robot name="volleyball_court">

  <link name="world"/>

  <!-- <link name="court_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://ball_tracker/meshes/model.dae"/>
      </geometry>
    </visual>
  </link> -->
  <link name="court_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
      <box size="18 9 0.1" /> 
    </geometry>
    </visual>
  </link>

  <joint name="world_to_court_joint" type="fixed">
    <parent link="world"/>
    <child link="court_link"/>
  </joint>

</robot>